R5AS_AUTH_SECRET=<SECRET_KEY>
R5AS_AUTH_USER=<USER_NAME>
R5AS_AUTH_PASS=<PASSWORD>
R5AS_CLOUD_PLATFORM_TYPE=<PLATFORM_TYPE>
KAFKA_HOST=<PRIVATE_IP>
TRAEFIK_HOST=<DNS_NAME>
TRAEFIK_SSL_EMAIL=<EMAIL>
R5P_LICENSE_KEY=<LICENSE_KEY>

### OCI BLOCK ###
OCI_TENANCY_OCID=<TENANCY_OCID>
OCI_USER_OCID=<USER_OCID>
OCI_COMPARTMENT_ID=<COMPARTMENT_ID>
OCI_FINGERPRINT=<FINGERPRINT>
OCI_PRIVATE_KEY_PATH=<PRIVATE_KEY_PATH>
OCI_NODE_SSH_PUBLIC_KEY_PATH=<NODE_SSH_PUBLIC_KEY_PATH>

### AWS BLOCK ###
AWS_ACCESS_KEY=<ACCESS_KEY>
AWS_SECRET_KEY=<SECRET_KEY>
AWS_SSH_KEY_PAIR=<SSH_KEY_PAIR>
AWS_ENABLE_ROOT_VOLUME_BLOCK_ENCRYPTION=<true or FALSE>

### GCP BLOCK ###
GCP_PROJECT_ID=<GCP_PROJECT_ID>

### LINODE BLOCK ###
LINODE_API_TOKEN=<API_TOKEN>
LINODE_SSH_KEY_NAME=<SSH_KEY_NAME>